<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<ul>
{% for result in results %}
{% if result.pred.misc < 0.5 %}
    <li>{{result.title}} <a href="https://news.ycombinator.com/item?id={{result.id}}">link</a></li>
{% endif %}
{% endfor %}
</body>
</html>
